[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
python-decouple = "*"

[dev-packages]
pytest-django = "*"
flake8 = "*"

[requires]
python_version = "3.10"
